.dark-medium-contrast {
  --md-sys-color-primary: rgb(255 212 182);
  --md-sys-color-surface-tint: rgb(255 183 129);
  --md-sys-color-on-primary: rgb(62 29 0);
  --md-sys-color-primary-container: rgb(196 129 77);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(251 213 188);
  --md-sys-color-on-secondary: rgb(54 33 16);
  --md-sys-color-secondary-container: rgb(171 138 116);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(221 224 169);
  --md-sys-color-on-tertiary: rgb(37 40 3);
  --md-sys-color-tertiary-container: rgb(144 148 99);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(25 18 13);
  --md-sys-color-on-background: rgb(240 223 214);
  --md-sys-color-surface: rgb(25 18 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 68 59);
  --md-sys-color-on-surface-variant: rgb(237 216 204);
  --md-sys-color-outline: rgb(193 174 163);
  --md-sys-color-outline-variant: rgb(158 141 130);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 214);
  --md-sys-color-inverse-on-surface: rgb(49 40 34);
  --md-sys-color-inverse-primary: rgb(110 59 11);
  --md-sys-color-primary-fixed: rgb(255 220 196);
  --md-sys-color-on-primary-fixed: rgb(32 12 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 129);
  --md-sys-color-on-primary-fixed-variant: rgb(87 42 0);
  --md-sys-color-secondary-fixed: rgb(255 220 196);
  --md-sys-color-on-secondary-fixed: rgb(30 13 2);
  --md-sys-color-secondary-fixed-dim: rgb(228 191 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(72 49 32);
  --md-sys-color-tertiary-fixed: rgb(227 231 175);
  --md-sys-color-on-tertiary-fixed: rgb(16 19 0);
  --md-sys-color-tertiary-fixed-dim: rgb(199 202 149);
  --md-sys-color-on-tertiary-fixed-variant: rgb(53 57 17);
  --md-sys-color-surface-dim: rgb(25 18 13);
  --md-sys-color-surface-bright: rgb(77 66 60);
  --md-sys-color-surface-container-lowest: rgb(12 6 3);
  --md-sys-color-surface-container-low: rgb(36 28 22);
  --md-sys-color-surface-container: rgb(47 38 32);
  --md-sys-color-surface-container-high: rgb(58 49 43);
  --md-sys-color-surface-container-highest: rgb(70 60 53);
}
