.dark-high-contrast {
  --md-sys-color-primary: rgb(255 236 226);
  --md-sys-color-surface-tint: rgb(255 183 129);
  --md-sys-color-on-primary: rgb(0 0 0);
  --md-sys-color-primary-container: rgb(253 178 121);
  --md-sys-color-on-primary-container: rgb(23 7 0);
  --md-sys-color-secondary: rgb(255 236 226);
  --md-sys-color-on-secondary: rgb(0 0 0);
  --md-sys-color-secondary-container: rgb(224 188 163);
  --md-sys-color-on-secondary-container: rgb(23 7 0);
  --md-sys-color-tertiary: rgb(240 244 188);
  --md-sys-color-on-tertiary: rgb(0 0 0);
  --md-sys-color-tertiary-container: rgb(195 198 145);
  --md-sys-color-on-tertiary-container: rgb(11 12 0);
  --md-sys-color-error: rgb(255 236 233);
  --md-sys-color-on-error: rgb(0 0 0);
  --md-sys-color-error-container: rgb(255 174 164);
  --md-sys-color-on-error-container: rgb(34 0 1);
  --md-sys-color-background: rgb(25 18 13);
  --md-sys-color-on-background: rgb(240 223 214);
  --md-sys-color-surface: rgb(25 18 13);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(82 68 59);
  --md-sys-color-on-surface-variant: rgb(255 255 255);
  --md-sys-color-outline: rgb(255 236 226);
  --md-sys-color-outline-variant: rgb(210 191 179);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(240 223 214);
  --md-sys-color-inverse-on-surface: rgb(0 0 0);
  --md-sys-color-inverse-primary: rgb(110 59 11);
  --md-sys-color-primary-fixed: rgb(255 220 196);
  --md-sys-color-on-primary-fixed: rgb(0 0 0);
  --md-sys-color-primary-fixed-dim: rgb(255 183 129);
  --md-sys-color-on-primary-fixed-variant: rgb(32 12 0);
  --md-sys-color-secondary-fixed: rgb(255 220 196);
  --md-sys-color-on-secondary-fixed: rgb(0 0 0);
  --md-sys-color-secondary-fixed-dim: rgb(228 191 167);
  --md-sys-color-on-secondary-fixed-variant: rgb(30 13 2);
  --md-sys-color-tertiary-fixed: rgb(227 231 175);
  --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
  --md-sys-color-tertiary-fixed-dim: rgb(199 202 149);
  --md-sys-color-on-tertiary-fixed-variant: rgb(16 19 0);
  --md-sys-color-surface-dim: rgb(25 18 13);
  --md-sys-color-surface-bright: rgb(89 78 71);
  --md-sys-color-surface-container-lowest: rgb(0 0 0);
  --md-sys-color-surface-container-low: rgb(38 30 24);
  --md-sys-color-surface-container: rgb(56 47 40);
  --md-sys-color-surface-container-high: rgb(67 57 51);
  --md-sys-color-surface-container-highest: rgb(79 69 62);
}
