*, h1, h2, h3, h4, h5, h6{
  margin:0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  fill: inherit;
  box-sizing: border-box!important;
  color: inherit;
}

:root, html {
  font-family: 'Quicksand', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 500px;

  --border-radius-none: 0px;
  --border-radius-xs: 4px;
  --border-radius-s: 8px;
  --border-radius-m: 12px;
  --border-radius-l: 16px;
  --border-radius-xl: 20px;
  --border-radius-xxl: 28px;
  --border-radius-full: 1000px;
}
html, body {
  max-width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
body, #root{
    width: 100%;
}
.root{
    min-height: 100vh;
    width: 100%;
    color: var(--md-sys-color-on-surface);
    fill: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface);
    padding-bottom: 64px;
}

main{
  max-width: var(--max-width);
  margin: auto;
  min-height: calc(100vh - 64px);
}

button,
button:focus-visible,
button:focus{
  outline: none;
  background-color: transparent;
}

button{
  cursor: pointer;
}
button:disabled{
  cursor: no-drop;
}

button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 6px 12px;
  background-color: var(--md-sys-color-primary);
  transition: all 200ms;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: var(--border-radius-full);
  overflow: hidden;
  fill: var(--md-sys-color-on-primary);
  color: var(--md-sys-color-on-primary);
  svg{
    width: 20px;
    height: 20px;
  }
  span{
    font-size: 14px;
    line-height: 20px;
  }
}

button:not(:disabled):hover{
  filter: brightness(1.08);
}

button:disabled{
  filter: brightness(0.8);
}

input, textarea{
  --border-inputs: var(--border-radius-l);
  &,
  &:hover,
  &:focus,
  &:focus-visible,
  &:focus-within{
    background-color: var(--md-sys-color-on-primary);
    border: none;
    outline: none;
    border-radius: var(--border-inputs);
  }

  
  &::placeholder{
    transition: all 150ms;
    color: var(--md-sys-color-on-surface);
  }
  &:focus,
  &:focus-within{
    &::placeholder{
      color: rgb(255,255,255);
    }
  }
}
input{
  padding: calc(var(--border-inputs) / 2) var(--border-inputs);
}
textarea{
  padding: var(--border-inputs);
}